.main {
  background-color: hsl(217, 28%, 15%);
}
.bgCurvyImg {
  position: relative;
}
.introContent {
  position: absolute;
  top: 10%;
  left: 20%;
  right: 20%;
  z-index: 2;
}
.parent {
  position: relative;
}
.introH {
  margin-bottom: 10px;
  font-size: 40px;
}
.introP {
  margin-top: 30px;
}

.introB {
  margin-top: 20px;
}
