.main-section {
  background-color: hsl(218, 28%, 13%);
  margin-top: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.columns {
  margin-top: 30px;
  align-items: center;
  justify-content: inherit;
}
.card {
}
