.main-section {
  background-color: hsl(218, 28%, 13%);
  margin-top: 0px;
  padding-top: 20px;
  padding-bottom: 400px;
  position: relative;
}
.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.columns {
  margin-top: 30px;
  align-items: center;
  justify-content: inherit;
}
.products {
  display: flex;
  flex-direction: row;
  margin: 50px 50px;
  justify-content: space-between;
}
.product-image {
}
.product-info {
  margin-right: 60px;
  margin-left: 50px;
  margin-top: 100px;
  text-align: justify;
}
.product-paragraph {
  margin-top: 20px;
}
.product-anchor {
  display: block;
}
.profile-cards {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
  align-items: center;
  justify-content: space-around;
}
.profile-card {
  width: 300px;
  border-color: rgb(29, 28, 26);
  border-radius: 8px;
  box-shadow: 0 60px 60px rgba(0, 0, 0, 0.3);
}
.profile-paragraph {
  padding: 30px;
  text-align: left;
}
.profile-name {
  text-align: justify;
  text-decoration: dotted;
}
.profile-info {
  display: flex;
  flex-direction: row;
  margin-left: 25px;
  margin-bottom: 20px;
}
.profile-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 5px;
}
.getStarted {
  background-color: hsl(217, 28%, 15%);
  box-shadow: 0 16px 60px rgba(0, 0, 0, 0.3);
  position: absolute;
  width: 700px;
  height: 300px;
  padding: 30px;
  left: 23%;
  bottom: -7%;
  border-radius: 10px;
  z-index: 3;
}
.emailForm {
  display: flex;
  flex-direction: row;
}
.emailInput {
  width: 100%;
  height: 50px;
  border-radius: 30px;
  padding: 30px;
  border: none;
  margin-right: 5px;
  user-select: none;
}
.emailButton {
  background-color: hsl(198, 60%, 50%);
  width: 130px;
  border-radius: 30px;
  border: none;
}
@media screen and (max-width: 900px) {
  .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .products {
    display: flex;
    flex-direction: column;
    margin: 50px 50px;
  }
}
@media screen and (max-width: 500px) {
  .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
